body {
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255,255,255,0.9);
    height: 100%;
    border-radius: 0px 0px 15px 15px;
}

#chart-column {
    height: 100%
}

#value-column {
    height: 100%;
}

.value-name {
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
}

.value-display {
    width: 60%;
    min-width: 150px;
    text-align: center;
}

.value-unit {
    font-size: 20px;
}


#time-display {
    width: 50%;
    min-width: 150px;
}

#logo {
    font-size: 30px;
}

#guild-box {
    text-align: center;
}

#guild-name {
    font-size: 60px;
    line-height: 60%;
}

#rank-div {
    padding-top: 40px;
}

#value-table {
    height: 100%;
    width: 100%;
}

#timer-box {
    height: 100%;
    text-align: center;
}

#rank-table {
    height: 100%;
    width: 100%;
}

#rank-table-div {
    height: 100%;
}

.rank {
    font-size: 25px;
}

#first-div {
    height: 50%;
}

.value-name-row {
    height: 30px;
}
